$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$deep-emerald-green: #024305;
$light-emerald-green: #046307;
$secondary-gray: #d1d1d1;
