<div class="footer">

      <!-- Links Column for Contact Us and Help -->
      <div>
        <p class="text">Contact us</p>
        <p class="text">Help</p>
        <br>
        <br>
        <br>
        <p class ="text">©2024 CastleBnB, Inc. </p>
      </div>

      <!-- Address Column on the Far Right -->
      <!-- Using offset to push the column to the right -->
      <div class="info">
        <p class="text">
          Castle BnB<br>
          22 Royal Tower Lane<br>
          Edinburgh, EH1 3FT<br>
          United Kingdom<br>
          Tel: +44 131 555 1234<br>
          Email: contact@castlebnb.co.uk
        </p>
      </div>

</div>
