
.cards {
  display: flex;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.castle-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color:white;
  color: rgb(111, 109, 109);
  height: auto;
  width: 300px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.castle-card a {
  text-decoration: none;
}
