html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;  // This ensures that the main content can expand to fill available space
}

.footer {
  padding: 20px;
  background: rgb(17, 6, 58);
  width: 100%;
  display: flex;
  // margin: 0px 0px;
  justify-content: space-between;
  align-items: center;
}


// .footer .container{
//   width: 100%;
// }

.info {
  text-align: right;
}


.footer .text {
  color: rgb(165, 165, 165);
}
