// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "cards";
@import "footer";
@import "buttons";


*{
  margin: 0;
  padding: 0;
}

.banner {
  margin-left: 30px;
  margin-right: 30px;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: calc(100% - 60px);
  height: 500px;
  padding: 0;
  margin-bottom: 50px;
  overscroll-behavior: hidden;
  justify-content: center;
}

.elite {
  font-family: "League Spartan", sans-serif;
  color: #fff;
  background-color: #222;
  border: .1em solid #222;
  padding: .5em 2em;
  border-radius: 5px;
  transition: all .5s ease;
  cursor: pointer;
  font-size: 2rem;
  text-decoration: none;
  margin-top: 20px;
  margin-left: 30px;
}

.elite:hover {
  letter-spacing: 3px;
  color: #222;
  background: #fff;
}

.castle-recomend{
  margin-left: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 20px; /* Gap between cards */
}

.cards{
  flex: 1;
  margin-right: 16px;
}

.cards-castle{
  margin-left:30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Show page for the castle desing

.image-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  flex-grow: 0;
}

.details {
  margin-top: 16px;
  width: 60%;
  text-align: justify;
  flex-grow: 0;
}

.main-image {
  flex-grow: 1;
  height: 400px;
}

.hero {
  width: 100%;
  padding-right: 8px;
}

.details-container {
  display: flex;
}

.details-container p {
  margin: 0;
}

.button-container {
  margin-top: 16px;
  margin-left: 16px;
  flex-grow: 1;
}

.button-container a {
  display: block;
  margin: auto;
}

.title-container {
  display: flex;
  justify-content: space-between;
}
