.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar .logo{
  width: 60px !important;
  height: auto;
 
}

.navbar .nav-item .nav-link{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold 700;
  font-style: bold;
  font-size: 25px;
  margin-right: 20px;

}

.avatar{
  width: 40px !important;
  height: auto;
  margin-right: 10px;
  margin-top: 10px;
}
