// Graphical variables
@import "config/colors";
@import "config/fonts";
@import "config/bootstrap_variables";


// External libraries
@import "bootstrap";
@import "font-awesome";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

// Your CSS partials
@import "components/index";
@import "pages/index";

.castle-details {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.castle-details h1 {
  color: #333;
}

.castle-details p {
  color: #666;
}

.castle-image {
  max-width: 100%;
  height: auto;
}

.field {
  margin: 2px;
  padding: 10px;
}
