
  <div class="container">
    <h1>Unique castles</h1>
    <p>Book a stay in a castle here...</p>
  </div>
</div>

<div class="container mt-5">
  <h1>Castles</h1>
  <%= link_to "Add new castle", new_castle_path %>

<div>
  <% @lists.each do |list| %>
  <div>
    <h2><%= castle.title %></h2>
      <div class="links">
        <p><%= link_to "View", castle_path(list)%></p>
        <p><%= link_to "Delete",castle_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></p>
      </div>
  </div>
  <% end %>
</div>
</div>
