<h1>Castles</h1>

<ul>
  <% @castles.each do |castle| %>
    <li>
      <h2><%= link_to castle.title, castle_path(castle) %></h2>
      <p><%= castle.description %></p>
      <p>Location: <%= castle.location %></p>
    </li>
  <% end %>
</ul>

<%= link_to "Add new castle", new_castle_path %>
