<div class="container">
  <br>
  <h1>My Castles</h1>
   <div class="cards">
    <% @castles.each do |castle| %>
    <div class="castle-card">
      <%= cl_image_tag castle.photo.key, class: "castle-image" %>
      <h2><%= link_to castle.title, castle_path(castle) %></h2>
      <p><%= castle.description %></p>
      <p>Location: <%= castle.location %></p>
    </div>
    <% end %>
  </div>
</div>
